# Mac OS junk
.DS_Store

# Python cache
__pycache__/
*.py[cod]

# Data files
data/*
!data/.gitkeep
out/

# Virtual environments
venv/
.env


#Test files 
notebooks/test.py
vocab.txt


#VsCode
.vscode/